APP_NAME=Urán
APP_ENV=local
APP_KEY=base64:G1fy11sG2zkkSFoBX7Qo+Q7lsreLBjDPYVTbjHR1A/s=
APP_DEBUG=true
APP_URL=http://mars.local

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PRINTING_SUBSYSTEM_ENABLED=true
PRINTING_UTILITY_ARGS="-h localhost:631"
PRINTER_NAME="NemUjBela"

INTERNET_ACTIVATION_DATE="2020-03-15 00:00:00"
