/node_modules
/public/css
/public/hot
/public/js
/public/img/epistola
/public/storage
/public/mix-manifest.json
/storage/*.key
/resources/lang/de
/resources/lang/fr
/resources/lang/gr
/resources/lang/it
/resources/lang/la
/resources/lang/sp
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
/.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
*.DS_Store
