.card {
    margin-bottom: 1.5rem;
}
.tabulator-loader {
    animation: 2s showDelayed;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes showDelayed {
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
